.govuk-label {
  font-weight: bold;
}

.govuk-fieldset__legend {
  font-weight: bold;
}

caption {
  caption-side: top;
}

.back-button {
  background: none;
  border: none;

  /*optional*/
  cursor: pointer;
}
.back-button:hover {
  text-decoration: underline;
}

.highlight-row {
  background-color: #f4cccc;
}
